<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Friends</title>
</head>
<body>
    <h3 class="text-center mt-3 mb-3">{{ title }}.</h3>

    <ul class="d-flex justify-content-center list-group">
		{% for friend in friends %}
		    <li class="list-group-item list-group-item-info">{{ friend.full_name }}:
				<ul>
					{% for book in friend.book.all %}
					    <li> {{ book.author }}: "{{ book.title}}".</li>
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
	</ul>

</body>
</html>